/* HelpScreen.css */
.help-screen {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .helppage-container {
    position: relative;
  }

  .navigation {
    position: relative;
    z-index: 2;
  }
  
  .help-page {
    display: flex;
    text-align: center;
    position: relative;
  }
  
  .imageTop1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 90%;
    height: auto; 
    margin-top: 100px;
    margin-left: 80px;
  }
  
  .imageTop2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    width: 100%;
    height: auto; 
    margin-top: 50px;
  }
  