
.navigation-buttons {
    position: absolute;
    top: 35px;
    right: 50px;
    display: flex;
    flex-direction: row;
  }
  
  .navigation-buttons a {
    margin-right: 50px;
    font-size: 18px;
    font-weight:bold;
    color: white; 
    border: none;
    cursor: pointer;
  }
  
  .navigation-buttons .active {
    text-decoration:underline;
    text-decoration-color: #E7A523;
    text-underline-offset: 10px;

  }
  
  