.Account-screen {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  position: relative;
  }

.Account-container {
  position: relative;
  margin-top: 23%;
  margin-left: 5%;
}

.verify-container {
  display: flex;
}

.otp-input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding-right: 50px;
}

.verify-button {
  background-color: #E7A523;
  color: black;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
}
.verify-button:hover {
  background-color: #E7D523;
}
