.terms-screen {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.terms-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.return-button {
  background-color: #E7A523;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 15px 75px;
    margin-top: 570px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    cursor: pointer;
}
.contact-us-button {
    background-color: #E7A523;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 15px 60px;
    margin-top: 650px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
}
.return-button:hover,
.contact-us-button:hover {
  background-color: #E7D523;
}
