/* Existing styles */

.find-a-dorm-screen {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.find-a-dorm-container {
  position: relative;
}

/* New styles for search bar and sort dropdown */

.search-bar-menu {
  position: absolute;
  top: 150px;
  left: 20px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #000000;
}
.search-bar-menu input {
  width: 400px;
  border: none;
  border-radius: 40px;
  padding: 15px;
  margin-bottom: 10px;
  color: #000000;
  background-color: #fffbfb;
}

.sort-dropdown {
  position: absolute;
  top: 150px;
  right: 20px;
}
.dormitories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
  position: absolute;
  top: 220px; /* Adjust as needed */
  left: 0px; /* Adjust as needed */
  z-index: 1; /* Place the grid in front of other elements */
  width: 80%;

}

.dorm-card {
  background-color: white;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dorm-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
}

.dorm-card h3 {
  font-size: 20px;
  margin: 0;
}

.dorm-card p {
  margin-top: 0;
  color: #000000;
  z-index: 1;
}
.dorm-card .location {
  font-style: italic;
}

.dorm-card .price {
  font-weight: bold;
}

.dorm-card .rating {
  color: #E7A523;
  font-weight: bold;
}

.dorm-card button {
  background-color: #E7A523;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1;

}


