/* Existing styles */

.find-a-dorm-screen {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.find-a-dorm-container {
  position: relative;
}

/* New styles for search bar and sort dropdown */

.search-bar-menu {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #000000;
}
.search-bar-menu input {
  width: 400px;
  border: none;
  border-radius: 40px;
  padding: 15px;
  margin-bottom: 10px;
  color: #000000;
  background-color: #fffbfb;
}

.sort-dropdown {
  position: absolute;
  top: 150px;
  right: 60px;
}
.dormitories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
  position: absolute;
  top: 220px; 
  left: 0px; 
  z-index: 1; 
  width: 80%;

}

.dorm-card {
  background-color: white;
  border-radius: 20px;
  width: 400px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  margin-left: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dorm-card .upper-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.dorm-card .location-price {
  display: flex;
  flex-direction: column;
}

.dorm-card .bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dorm-card img {
  width: 400px;
  height: 180px;
  object-fit: cover;
  border-radius: 5%;
  margin-top: 0;
}

.dorm-card h3 {
  font-size: 22px;
  margin: 0;
}

.dorm-card .location-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.dorm-card .location-container img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.dorm-card p {
  font-size: 18px;
  color: #777;
  margin: 0;
}

.dorm-card .ratings {
  font-size: 18px;
  color: #777;
  padding-right: 100px;
}

.dorm-card button {
  background-color: #E7A523;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dorm-card button:hover {
  background-color: #E7D523;
}


