.home-screen {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-container {
  position: relative;
}

.navigation {
  position: relative;
  z-index: 2;
}

.home-page {
  display: flex;
  text-align: center;
  position: relative;
}

.page-container {
  background-color: #1E1E1E;
  width: 1300px;
  height: 500px;
  display: flex;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  padding-top: 50px;
  padding-bottom: 20px;
  top: 20%;
  left: 8%;
  z-index: 1;
}

.header {
  background-color: #1E1E1E;
  width: 100%;
  border-radius: 10px 10px 0 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header h1 {
  font-size: 30px;
  color: white;
}

.header h2 {
  font-size: 16px;
  color: #ffffff;
}

.header hr {
  color: #ffffff;
  margin-left: 38%;
  margin-right: 38%;
}

.inner-box {
  background-color: white;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inner-box img {
  width: 330px;
  height: 180px;
  object-fit: cover;
  border-radius: 5%;
  margin-top: 0;
}

.inner-box h3 {
  font-size: 20px;
  margin: 0;
}

.inner-box .location-container {
  display: flex;
  align-items: center;
}

.inner-box .location-container img {
  width: 20px;
  height: 20px;
}

.inner-box p {
  font-size: 15px;
  color: #777;
  margin: 0;
}

.inner-box .bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.inner-box .ratings {
  font-size: 16px;
  color: #777;
  padding-right: 70px;
}

.view-dorm-button {
  background-color: #E7A523;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-dorm-button:hover {
  background-color: #E7D523;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay h1 {
  font-size: 40px;
  color: #fff;
}

.overlay h2 {
  font-size: 24px;
  color: #fff;
}

.search-bar {
  width: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #000000;
}

.search-bar input {
  width: 700px;
  border: none;
  border-radius: 40px;
  padding: 15px;
  margin-bottom: 10px;
  color: #000000;
  background-color: #fffbfb;
}

.suggestions {
  background: #fff; 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  width: 730px;
  overflow-y: auto;
  display: none; 
}

.search-bar input:focus + .suggestions {
  display: block; 
}

.suggestion {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.suggestion:last-child {
  border-bottom: none;
}