.Account-screen {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center; /* Centers the container vertically */
  justify-content: center; /* Centers the container horizontally */
}

.verify-container {
  margin-top: 100px;

}

.verify-button {
  background-color: #E7A523;
  color: black;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  padding: 15px 50px; /* Adjust padding to increase the size of the button */
  margin-left: 500px; /* Adds space between the input and button */
  margin-bottom: 115px;
  
}




