.Account-screen {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verify-button {
  background-color: #E7A523;
  color: black;
  border: none;
  top: 350px;
  left: 75px;
  border-radius: 20px;
  padding: 15px 60px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.verify-button:hover {
  background-color: #E7D523;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Account-container {
  position: relative;
}