.OTP-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.OTP-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.label {
  height: 35px;
  width: 206px;
}

.label .heading {
  color: #ffffff;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  top: 40%;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
}

.label .heading2 {
  color: #ffffff;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 450;
  text-align: center;
  top: 45%;
  left: 50%;
  line-height: 34.7px;
  position: fixed;
  transform: translateX(-50%);
}

.otp-input {
  position: absolute;
  top: 400px; 
  left: 50%; 
  transform: translateX(-50%); 
  text-align: center; 
}

.otp-input input {
  width: 300px; 
  height: 30px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
}

.otp-input input[type="text"] {
  text-align: center;
}

.otp-input input:invalid {
  border: 1px solid red; 
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-back-button {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 13px 40px;
  margin-top: 460px;
  margin-left: 608px;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  cursor: pointer;
}

.submit-button {
  background-color: #E7A523;
  color: black;
  border: none;
  border-radius: 15px;
  padding: 13px 46px;
  margin-top: 460px;
  margin-left: 775px;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
}

.go-back-button:hover {
  background-color: #c4c3b8;
}

.submit-button:hover {
  background-color: #E7D523;
}

.box {
  height: 282px;
  width: 456px;
  justify-content: center;
  align-items: center;
}

.box .rectangle {
  background-color: #1e1e1e;
  border-radius: 40px;
  box-shadow: 0px 10px 50px #00000040;
  height: 359px;
  left: 0;
  position: fixed;
  top: 0;
  transform: rotate(180deg);
  width: 585px;
  margin-top: 195px;
  margin-left: 465px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}